.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 200px;
  margin: auto;
}
.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.progresss {
  background-color: #e0303f;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: #e0e0e0;
  color: #fff;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #e0303f;
  background-color: #e0303f;
}
